extends base

block content
  .raw
    if subtitle && tours.length > 0
      h2.heading-secondary.u-center-text(style="width: 100%; margin-bottom: 1.5rem")= subtitle
    if subtitle && tours.length === 0
      h2.heading-secondary.u-center-text(style="width: 100%; color: #55c57a; margin-bottom: 30rem") You haven't booked any tour yet 😞
    each tour in tours
      .card-1-of-3
        .card1
          .card1__header1
            .card1__picture1
              .card1__picture1-overlay &nbsp;
              img.card1__picture1-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
            h3.heading-tertirary1
              span= tour.name

          .card1__details1
            h4.card1__sub-heading1= `${tour.difficulty} ${tour.duration}-day tour`
            p.card1__text1= tour.summary
            .card1__data1
              svg.card1__icon1
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.startLocation.description.split(',')[0]
            .card1__data1
              svg.card1__icon1
                use(xlink:href='/img/icons.svg#icon-calendar')
              span= tour.startDates[0].toLocaleString('en-us', {month: 'short', year: 'numeric'})
            .card1__data1
              svg.card1__icon1
                use(xlink:href='/img/icons.svg#icon-flag')
              span= `${tour.locations.length} stops`
            .card1__data1
              svg.card1__icon1
                use(xlink:href='/img/icons.svg#icon-user')
              span= `${tour.maxGroupSize} people`

          .card1__footer1
            p
              span.card1__footer1-value= `$${tour.price}`
              | 
              span.card1__footer1-text per person
            p.card__ratings1
              span.card1__footer1-value= tour.ratingsAverage
              | 
              span.card1__footer1-text= `rating (${tour.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details